pyttsx3~=2.90
wikipedia~=1.4.0
PyAutoGUI~=0.9.54
SpeechRecognition~=3.10.4
pyjokes==0.6.0
PyAudio>=0.2.14
pywin32>=306; platform_system == "Windows"
python-dotenv>=1.0.1
openai>=1.40.3
google-generativeai>=0.7.2
anthropic>=0.36.0
python-dotenv>=1.0.1
yt-dlp>=2024.8.6
python-vlc>=3.0.20123